.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.navbar a::after {
  content: "";
  background-color: red;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.35s ease;
}

.navbar a:hover::after {
  width: 100%;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.logo {
  text-wrap: nowrap;
}

.rightText {
  margin-left:20%;
}

.pageEnd {
  margin-right: 15%;
}

.example {
  text-wrap: nowrap;
  padding-right: 17%;
  text-decoration: none;
  color: black;
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

.brand {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: xx-large;
}

h1 {
  color: black;
  font-size: 1370%;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}

.row {
  margin-top: 0; /* Add this line to remove top margin */
}

h2 {
  margin-top: 0; /* Add this line to remove top margin */
}


.decimalBoxOrange {
  margin-bottom: 20%;
}

.content-container {
  padding-top: 37px;
  margin-left:;
}

.logoReal {
  max-width: 12%;
}

li::after {
  background-color: red;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: width 0.35s ease 0s;
  position: absolute;
}

li:hover::after {
  width: 100%;
  border-bottom: #000000;
}

li {
  float: left;
  position: relative;
  padding: 10px 20px;
  overflow: hidden;
}



.footer {
  background-color: #333;
  color: white;
  padding: 20px 0; /* Adjust the padding as needed */
  text-align: center;
}

.footer {
  display: block;
}

html, body {
  margin: 0;
  padding: 0;
}

.red1 {
  max-width: 75%;
}

#redImg {
  margin-left: 29%;
  max-width: 50%;
}


.orange1 {
  max-width: 250%; 
  margin-right: 50%;
}

.about {
  line-height: 150%;
  border: #333 1px solid;
  padding: 2%;
  border-width: 2px;
}

.title {
  margin-left: 7%;
}

.titleLol {
  margin-left: 7%;
  font-size: 150px;
}

.HexaDecimal {
  margin-left: 17%;
  margin-top: 5%;
  text-align: center;
}

.aboutTwo {
  line-height: 150%;
  border: #333 1px solid;
  padding: 2%;
  border-width: 2px;
  margin-right: 
}

.orange1 {
  margin-left: 10%;
  margin-top: 5%;
}

.decimalBoxTwo {
  border: #333 1px solid;
  border-width: 2px;
  width: 50%;
  margin-left: 40%;
  text-align: center;
  padding-right: 7%;
}

.decimalText {
  margin-left: 21.5%;
}

.decimalBox {
  border: #333 1px solid;
  border-width: 2px;
  width: 50%;
  margin-left: 7%;
  padding-right: 7%;
}

.orangeImg {
  max-width: 25%;
  margin-left:20%;
}
.decimals {
  margin-top: 5%;
}

.section-divider {
  height: 2px; /* Adjust the height of the line */
  background-color: #333; /* Adjust the color of the line */
  margin-top: 20px; /* Adjust spacing as needed */
  margin-bottom: 20px; /* Adjust spacing as needed */
  clear: both; /* Ensure proper clearing */
}

