#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
  }

  

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
 
.sticky + .content {
    padding-top: 60px;
  }

  .logo {
    text-wrap: nowrap;
  }

.rightText {
    margin-left:20%;
}

.pageEnd {
    margin-right: 15%;
}
.example {
    text-wrap: nowrap;
    padding-right: 17%;
    text-decoration: none;
    color: black;
}

.brand {
    font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    font-size: xx-large;
}

h1 {
    color: black;
    font-size: xx-large;
}